p.postvc_count span {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
}
.postvc_inner h2{
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
}
.postvc_inner h3 {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.2;
}
